@import url(__logo/navigation__logo.css);
@import url(__language/navigation__language.css);
@import url(../language/language.css);

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



