.about__picture {
    width: 100%;
    margin-bottom: 8px;
    transition: 0.2s;
}

@media (min-width: 375px) {
    .about__picture {
        margin-bottom: 16px;
    }
}

@media (min-width: 768px) {
    .about__picture {
        width: 50%;
        padding: 0 8px;
    }
    .about__picture:hover {
        transform: scale(1.03);
    }
}

@media (min-width: 1024px) {
    .about__picture {
        width: 33.33%;
        padding: 0 7px;
        margin-bottom: 14px;
    }
}

@media (min-width: 1280px) {
    .about__picture {
        width: 25%;
        padding: 0 8px;
        margin-bottom: 16px;
    }
}
