.videos__header {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
}

@media (min-width: 768px) {
    .videos__header {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (min-width: 1024px) {
    .videos__header {
        font-size: 72px;
        line-height: 78px;
    }
}



