.videos__about {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-top: 16px;
}

@media (min-width: 768px) {
    .videos__about {
        font-size: 24px;
        line-height: 35px;
        margin-top: 24px;
    }
}

@media (min-width: 1024px) {
    .videos__about {
        margin-top: 48px;
    }
}

@media (min-width: 1280px) {
    .videos__about {
        width: 700px;
        margin: 48px auto 0;
    }
}
