@import url(__logo/header__logo.css);
@import url(__language/header__language.css);
@import url(../language/language.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



